.title {
  text-align: center;
}

.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 954px;
  margin: auto;

  &__item {
    width: 302px;
    margin-bottom: 65px;
  }

  &__image {
    width: 302px;
    height: 176px;
    margin-bottom: 20px;
  }

  &__section-name {
    display: inline-block;
    border-radius: 2px;
    font-weight: bold;
    font-size: 10px;
    line-height: 24px;
    padding: 0 23px;
    color: #fff;
    background-color: #035858;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #4a4a4a;
  }

  &__text {
    color: #4a4a4a;
    font-size: 10px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  &__author {
    font-size: 10px;
    line-height: 10px;
    color: #007e7e;
  }
}

@media (max-width: 954px) {
  .news {
    width: 648px;
    justify-content: center;

    &__item:nth-child(odd) {
      margin-right: 24px;
    }

    &__item:last-child {
      margin-right: auto;
    }
  }
}

@media (max-width: 648px) {
  .news {
    width: 320px;

    &__item {
      margin: auto;
      margin-bottom: 65px;
    }

    &__item:nth-child(odd) {
      margin-right: 0;
    }

    &__item:last-child {
      margin-right: 0;
    }
  }
}
