.pagination {
  margin: auto;
  margin-bottom: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  width: 954px;

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: 10px;
    width: 32px;

    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #4a4a4a;

    background-color: inherit;
    transition: background-color 400ms ease;
    cursor: pointer;
    border: 1px solid #007e7e;
    border-radius: 3px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      background-color: #007e7e;
    }

    &:hover {
      background-color: #39e0e0;
    }
  }

  .button {
    width: 45px;

    line-height: 32px;
    font-size: 14px;
    color: #4a4a4a;
    
    background-color: inherit;
    border: 1px solid #007e7e;
    border-radius: 3px;
    transition: background-color 400ms ease;
    cursor: pointer;

    &:hover {
      background-color: #39e0e0;
    }

    &--disabled {
      background-color: lightgrey;
      border: 1px solid grey;
      cursor: no-drop;

      &:hover {
        background-color: lightgrey;
      }
    }
  }
}

@media (max-width: 954px) {
  .pagination {
    width: 648px;
  }

}

@media (max-width: 648px) {
  .pagination {
    display: none;
  }
}
